/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-simplecal-calendar {
	border: 1px dotted #f00;
}
