.simplecal_list_item_excerpt {
	font-size: 1rem;
}

.simplecal_no_events {
	font-style: italic;
	text-align: center;
	margin: 1em auto;
}

/*
	div.simplecal_themeX
		h2.simplecal_title
		div.simplecal_list_year_header
		div.simplecal_list_month_header

		div.simplecal_list_item
			div.simplecal_list_item_thumbnail
				img
			div.simplecal_list_item_content_wrapper
				div.simplecal_list_item_title
				div.simplecal_list_item_datetime
				div.simplecal_list_item_date
				div.simplecal_list_item_time
				div.simplecal_list_item_location
					div.simplecal_list_item_meta	
					div.simplecal_list_item_location_physical
						div.simplecal_list_item_meta_icon
						div.simplecal_list_item_meta_data
							span.simplecal_list_item_venue_name
							span.simplecal_list_item_venue_separator
							span.simplecal_list_item_city
							span.simplecal_list_item_city_separator
							span.simplecal_list_item_state
					div.simplecal_list_location_virtual
				div.simplecal_list_item_excerpt
				div.simplecal_list_item_more_info_link
					div.simplecal_list_item_meta_icon
					div.simplecal_list_item_meta_data
*/

.simplecal_theme1 {
	.simplecal_nav_pagination {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-around;
		margin: 1em 0;
	}
	.simplecal_nav_prev, .simplecal_nav_next {
		opacity: 0.5;
		display: flex;
		flex-flow: row nowrap;
		column-gap: 0.25em;
		justify-content: center;
		transition: 0.25s all ease-in-out;
		align-items: center;
		cursor: default;
		&.active {
			opacity: 1;
			cursor: pointer;

			&:hover {
				font-weight: bold;
			}
		}

		span { line-height: unset !important;}
	}
	.simplecal_all_events_link {
		display: block;
		margin: 1em auto;
		padding: 0.5em 1em;
		text-decoration: none;
		border: 1px solid #a0a0a0;
		border-radius: 8px;
		width: fit-content;
		text-align: center;
		transition: 0.25s all ease-in-out;
		transform: translateX(0);

		&:hover {
			transform: translateY(-4px);
			box-shadow: 0 4px 8px rgba(0,0,0,0.15);
		}
	}
}

.simplecal_past_event {
	opacity: 0.6;
}

.simplecal_agenda_layout1 {
	.simplecal_list_item + .simplecal_list_item {
		margin-top: 1.5em;
	}

	.simplecal_list_year_header, .simplecal_list_month_header {
		margin: 0.25em 0;
		font-size: 1.5em;
		font-weight: bold;
	}
	.simplecal_list_month_header {
		font-size: 1.25em;
		text-align: center;
	}

	.simplecal_list_item {
		display: flex;
		flex-flow: row nowrap;
		padding-bottom: 1.5em;
		border-bottom: 1px solid #a0a0a0;
	
		.simplecal_list_item_thumbnail {
			flex: 0 0 100px;
			margin-right: 10px;
			img {
				max-width: 100%;
			}
		}
		.simplecal_list_item_content_wrapper {
			flex: 1 1 auto;
			display: flex;
			flex-flow: column nowrap;

			& > div + div {
				margin-top: 0.25em;
			}

			.simplecal_list_item_meta {
				display: flex;
				flex-flow: row nowrap;
				column-gap: 0.5em;
			}
	
			.simplecal_list_item_title {
				font-size: 1.25em;
				line-height: 1.25;
			}
			.simplecal_list_item_datetime {
				color: #606060;
			}
			.simplecal_list_item_datetime {
				display: none;
			}
	
			.simplecal_list_item_excerpt {
				p:first-of-type {
					margin-top: 0;
				}
			}
	
			.material-symbols-outlined {
				vertical-align: middle;
				font-size: 1em;
			}
		}
	}
}

.simplecal_agenda_layout2 {
	display: flex;
	flex-flow: row wrap;
	gap: 0.5em;

	.simplecal_list_item {
		padding: 0.5em;
		border: 1px solid #baba;
		border-radius: 4px;
		flex: 1 0 400px;
		overflow: hidden;
		box-sizing: border-box;

		@media only screen and (min-width: 768px) {
			flex: 0 0 calc(50% - 0.25em);
			max-width: calc(50% - 0.25em);
		}
		@media only screen and (min-width: 1200px) {
			flex: 0 0 calc(33% - 0.25em);
			max-width: calc(33% - 0.25em);
		}
	}

	.simplecal_list_item_container + .simplecal_list_item_container {
		margin-top: 0.5em;
	}

	.simplecal_list_item_meta {
		display: flex;
		flex-flow: row nowrap;
		gap: 0.25em;
		align-items: center;

		.simplecal_list_item_meta_data {
			overflow: hidden;
			text-overflow: ellipsis;
			text-wrap: nowrap;
		}

		span { line-height: unset !important;}
	}

	.simplecal_list_item_datetime {
		display: flex;
		flex-flow: column nowrap;
		justify-content: flex-start;
	}
	.simplecal_list_item_date {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;

		.simplecal_list_item_dates {
			font-weight: bold;
			flex: 1 0 auto;
		}
		.simplecal_list_item_dayofweek {
			font-size: 0.75em;
			overflow: hidden;
			text-overflow: ellipsis;
			text-wrap: nowrap;
		}
	}

	.simplecal_list_item_time, .simplecal_list_item_location, .simplecal_list_item_website {
		font-size: 0.8em;
	}

	.simplecal_list_item_title {
		font-size: 1.25em;
		
		@media only screen and (min-width: 768px) {
			overflow: hidden;
			text-wrap: nowrap;
			text-overflow: ellipsis;
		}

		a {
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.simplecal_archive {
	.simplecal_list_item + .simplecal_list_item {
		margin-top: 1.5em;
	}

	.simplecal_list_year_header, .simplecal_list_month_header {
		margin: 0.25em 0;
		font-size: 1.5em;
		font-weight: bold;
	}
	.simplecal_list_month_header {
		font-size: 1.25em;
		text-align: center;
	}

	.simplecal_list_item {
		display: flex;
		flex-flow: row nowrap;
		padding-bottom: 1.5em;
		border-bottom: 1px solid #a0a0a0;
	
		.simplecal_list_item_thumbnail {
			flex: 0 0 100px;
			margin-left: 10px;
			img {
				max-width: 100%;
			}
		}
		.simplecal_list_item_content_wrapper {
			flex: 1 1 auto;
			display: flex;
			flex-flow: column nowrap;
			
			a {
				text-decoration: none;
			}

			.simplecal_list_item_meta {
				display: flex;
				flex-flow: row nowrap;
				column-gap: 0.5em;
			}
	
			.simplecal_list_item_title {
				font-size: 1.25em;
				line-height: 1.25;
			}
			.simplecal_list_item_datetime {
				color: #606060;
			}
			.simplecal_list_item_datetime {
				display: none;
			}
	
			.simplecal_list_item_excerpt {
				p:first-of-type {
					margin-top: 0;
				}
			}
	
			.material-symbols-outlined {
				vertical-align: middle;
				font-size: 1em;
			}
		}
	}
}