.simplecal_event_meta {
	display: table;
	.simplecal_event_meta_row {
		display: table-row;
	}
	.simplecal_event_meta_label {
		display: table-cell;
		padding-right: 0.5em;
		text-transform: uppercase;
		&::after {
			content: ':';
		}
	}
	.simplecal_event_meta_value {
		display: table-cell;
		font-weight: bold;
	}
}